#primaryNav .custom-sop-icon {
background-image: url('../images/sop.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-ontology-register {
background-image: url('../images/icon-OntologyRegister-small.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-Linksets {
background-image: url('../images/icon-Linksets-small.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-Source-Datasets {
background-image: url('../images/icon-SourceDatasets-small.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-Source-Schema {
background-image: url('../images/icon-SourceSchema-small.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-Inference-Rules {
background-image: url('../images/icon-InferenceRules-small.png');
background-position: center;
background-size: 100%;
}
#primaryNav .custom-Provenance-Graphs {
background-image: url('../images/icon-ProvenanceGraphs-small.png');
background-position: center;
background-size: 100%;
}

.logo-container { height:36px; width:400px; }

.teamwork-quick-navigation-button {  left: 375px  !important; top: 3px  !important; }
  